body {
	margin: 0;
	font-family: Arial, sans-serif;
  background-color: #00DBDE;
  background-image: linear-gradient(45deg, #00DBDE 0%, #de00a7 100%);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
